<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.komunikator"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="komunikator.MyApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:uiOptions="splitActionBarWhenNarrow">
        <activity
            android:name="komunikator.ConversationActivity"
            android:label="@string/app_name"
            android:parentActivityName="komunikator.ConversationsListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myfirstapp.MainActivity" />
        </activity>

        <service android:name="komunikator.NewMessageListener" />

        <activity android:name="komunikator.SignUpActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="komunikator.ProfileActivity"
            android:parentActivityName="komunikator.SignUpActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="komunikator.SignUpActivity" />
        </activity>
        <activity
            android:name="komunikator.ProfileEditActivity"
            android:label="@string/title_activity_profile_edit"></activity>
        <activity
            android:name="komunikator.ContactsActivity"
            android:parentActivityName="komunikator.ProfileEditActivity"
            android:label="@string/title_activity_contacts"
            android:theme="@style/android:Theme.Holo.Light"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

        </activity>
        <activity android:name="komunikator.ContactDetailsActivity"
                  android:parentActivityName="komunikator.ContactsActivity"/>
        <activity android:name="komunikator.SignInActivity"></activity>
    </application>

</manifest>